<%inherit file="base.html" />


<%block name="title">
<title>Account Detail</title>
</%block>
<div class="container">
    <div class="hero-unit">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <ul class="nav nav-list">
                        <li class="active"><a href="/account"><i class="icon-th-large"></i> Overview</a></li>
                        <li><a href="/selling"><i class="icon-th-large"></i> Selling List</a></li>
                        <li><a href="/buying"><i class="icon-th-large"></i> Buying List</a></li>
                        <li><a href="#"><i class="icon-th-large"></i> Change Password</a></li>

                    </ul>
                </div>
                <div class="span9">
                    <!--Body content-->
                </div>
            </div>
        </div>
    </div>
</div>